<mat-card>
  <mat-card-title>
    Шкала Депрессии Бека
  </mat-card-title>
  <mat-card-content>
    Шкала депрессии Бека — это тест, который позволяет с высокой точностью установить депрессию, а также определить, насколько она сильна.    
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!isFinished; else showResults">
  <div *ngIf="!isUnfolded">
    <mat-card-title>Вопрос: {{selected + 1}} из {{questions.length}}</mat-card-title>
    <mat-card-subtitle>{{questions[selected].text}}</mat-card-subtitle>	
    
    <app-radio-selector [variants]="questions[selected].variants" [qScore]="questions[selected].score" (scoreChangedEvent)="changeScore(selected, $event)"></app-radio-selector>

    <div class="question-manager">
      <button mat-flat-button color="primary" *ngIf="selected == questions.length - 1" (click)="finish()">Результаты</button>
      <button mat-flat-button color="primary" (click)="Next(); countScore()" *ngIf="selected != questions.length - 1">Следующий</button>
      <button mat-flat-button color="warn" (click)="Previous(); countScore()" *ngIf="selected != 0">Предыдущий</button>
      <mat-slide-toggle (toggleChange)="changeList()">Развернуть список вопросов</mat-slide-toggle>
      <!--<a href="javascript: void(0)" (click)="changeList()">Развернуть список вопросов</a>-->
    </div>
  </div>
  
  <div *ngIf="isUnfolded">
    <ng-container *ngFor="let question of questions; index as i;">
      <app-radio-selector [qText]="question.text" [variants]="question.variants" [qScore]="question.score" (scoreChangedEvent)="changeScore(i, $event)"></app-radio-selector>
    </ng-container>
    <div class="question-manager">
      <button type="button" class="btn btn-success" (click)="finish()">Результаты</button>
      <a href="javascript: void(0)" (click)="changeList()"><i>Свернуть список</i></a>
    </div>
  </div>
  <mat-progress-bar value="{{(selected + 1) / questions.length * 100}}"> </mat-progress-bar>
</mat-card>

<ng-template #showResults>
  <h3>Ваш счет: {{score}} из 63</h3>
  <div *ngIf="score <= 13">
    <p>Депрессивных симптомов нет. С вашим психическим здоровьем всё в порядке.</p>
  </div>
  <div *ngIf="score >= 14 && score <= 19">
    <p>Вероятна лёгкая депрессия (субдепрессия).</p>
  </div>
  <div *ngIf="score >= 20 && score <= 28">
    <p>Умеренная депрессия.</p>
  </div>
  <div *ngIf="score >= 29">
    <p>Тяжёлая депрессия. Состояние тем сложнее, чем больше количество баллов.</p>
  </div>

  <button type="button" class="btn btn-secondary" (click)="return()">Повторить</button>
</ng-template>

    <p>Счет: {{score}}</p>


